music_store {
  font-family: sans-serif;
  font-size: 20px;
}
storename {
  margin-top: 20px;
  width: 80%;
  text-align: center;
  font-family: Georgia;
  color: rgb(162, 72, 72);
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 50px;
}
address,
telephone_number number,
website {
  display: block;
  font-family: Verdana;
  color: #544f4f;
  text-align: center;
  letter-spacing: 1px;
}

song {
  justify-content: left;
  position: relative;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: list-item;
  list-style-type: none;
  font-family: Arial;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 8px;
  padding: 20px 0 10px 30px;
  border: #654321 solid 5px;
  box-shadow: 2px 5px;
  background-color: #ddbea9;
}

title {
  display: block;
  font-weight: bold;
  list-style-type: none;
  padding-bottom: 20px;
}

director::before {
  content: 'Directors: ';
  color: #0000a0;
}

singers:before {
  content: 'Singers: ';
  color: #0000a0;
}

release_date:before {
  content: 'Release Date: ';
  color: #0000a0;
}

musician:before {
  content: 'Musicians: ';
  color: #0000a0;
}

name {
  display: list-item;
  color: black;
  margin-left: 50px;
}

rating::before {
  content: 'Rating: ';
  color: #0000a0;
}
rating:after {
  content: attr(count);
}
writer:before {
  content: 'Writer: ';
  color: #0000a0;
}

producer:before {
  content: 'Producer: ';
  color: #0000a0;
}
composer:before {
  content: 'Composer: ';
  color: #0000a0;
}

recording_engineer:before {
  content: 'Record Engineer: ';
  color: #0000a0;
}
music_manager:before {
  content: 'Music Manager: ';
  color: #0000a0;
}

release_date,
director,
musician,
rating,
writer,
producer,
composer,
audio,
singers,
music_label,
album {
  display: list-item;
  justify-content: left;
  list-style-type: none;
  margin-left: 15px;
  padding-bottom: 5px;
  letter-spacing: 1px;
  font-weight: 300;
}


audio recording_engineer {
  display: list-item;
  letter-spacing: 1px;
  padding-bottom: 5px;
}

audio music_manager {
  display: list-item;
  padding-bottom: 5px;
}
album::before {
  content: 'Album :';
  color: #0000a0;
}


music_label::before {
  content: 'Music Label: ';
  color: #0000a0;
}

song::after{content: "Genre: " attr(genre);
  margin-left: 10px;
color: red;}
logo {
  display: flex;
  background-image: url('Images/logo.png');
  width: 100px;
  height: 100px;
  background-size: 100px 100px;
  border-radius: 10px;
}

#image1 {
  background-image: url(Images/1.png);
  float: right;
  margin-right: 50px;
  width: 300px;
  height: 300px;
  margin-top: -20px;
  background-repeat: no-repeat;
  background-size: 320px 320px;
  border-radius: 10px;
}
#image2 {
  background-image: url(Images/2.jfif);
  float: right;
  margin-right: 50px;
  width: 300px;
  height: 300px;
  margin-top: -20px;
  background-repeat: no-repeat;
  background-size: 320px 320px;
  border-radius: 10px;
}
#image3 {
  background-image: url(Images/3.jfif);
  float: right;
  margin-right: 50px;
  width: 300px;
  height: 300px;
  margin-top: -30px;
  background-repeat: no-repeat;
  background-size: 320px 320px;
  border-radius: 10px;
}

#image4 {
  background-image: url(Images/4.jfif);
  float: right;
  margin-right: 50px;
  width: 300px;
  height: 300px;
  margin-top: -30px;
  background-repeat: no-repeat;
  background-size: 320px 320px;
  border-radius: 10px;
}
#image5 {
  background-image: url(Images/5.jfif);
  float: right;
  margin-right: 50px;
  width: 300px;
  height: 300px;
  margin-top: -20px;
  background-repeat: no-repeat;
  background-size: 320px 320px;
  border-radius: 10px;
}
#image6 {
  background-image: url(Images/6.jfif);
  float: right;
  margin-right: 50px;
  width: 300px;
  height: 300px;
  margin-top: 10px;
  background-repeat: no-repeat;
  background-size: 320px 320px;
  border-radius: 10px;
}
#image7 {
  background-image: url(Images/7.jfif);
  float: right;
  margin-right: 50px;
  width: 300px;
  height: 300px;
  margin-top: -30px;
  background-repeat: no-repeat;
  background-size: 320px 320px;
  border-radius: 10px;
}
#image8 {
  background-image: url(Images/8.jfif);
  float: right;
  margin-right: 50px;
  width: 300px;
  height: 300px;
  margin-top: -20px;
  background-repeat: no-repeat;
  background-size: 320px 320px;
  border-radius: 10px;
}
#image9 {
  background-image: url(Images/9.jfif);
  float: right;
  margin-right: 50px;
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: 320px 320px;
  border-radius: 10px;
}
#image10 {
  background-image: url(Images/10.jfif);
  float: right;
  margin-right: 50px;
  width: 300px;
  height: 300px;
  margin-top: -30px;
  background-repeat: no-repeat;
  background-size: 320px 320px;
  border-radius: 10px;
}
#image11 {
  background-image: url(Images/11.jfif);
  float: right;
  margin-right: 50px;
  width: 300px;
  height: 300px;
  margin-top: -20px;
  background-repeat: no-repeat;
  background-size: 320px 320px;
  border-radius: 10px;
}
#image12 {
  background-image: url(Images/12.jfif);
  float: right;
  margin-right: 50px;
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: 320px 320px;
  border-radius: 10px;
}
#image13 {
  background-image: url(Images/13.jfif);
  float: right;
  margin-right: 50px;
  width: 300px;
  height: 300px;
  margin-top: -10px;
  background-repeat: no-repeat;
  background-size: 320px 320px;
  border-radius: 10px;
}
#image14 {
  background-image: url(Images/14.jfif);
  float: right;
  margin-right: 50px;
  width: 300px;
  height: 300px;
  margin-top: -10px;
  background-repeat: no-repeat;
  background-size: 320px 320px;
  border-radius: 10px;
}
#image15 {
  background-image: url(Images/15.jfif);
  float: right;
  margin-right: 50px;
  width: 300px;
  height: 300px;
  margin-top: 10px;
  background-repeat: no-repeat;
  background-size: 320px 320px;
  border-radius: 10px;
}
